In [2]:
import pandas as pd
import gensim.downloader

pd.set_option('display.max_colwidth', None)
w2v = gensim.downloader.load('word2vec-google-news-300')

In [12]:
df = pd.read_csv('transcripts/mrs-r-codes.csv')

df["Codes"] = df["Codes"].str.lower()
df["Codes"] = df["Codes"].str.replace(r",\s+", ",", regex=True)
df["Codes"] = df["Codes"].str.replace(r"code [0-9]+: ", "", regex=True)
df["Codes"] = df["Codes"].str.strip(",")

In [18]:
def filter_codes(code: str):
    code_df = df[df["Codes"].str.contains(code)]
    codes = code_df["Codes"].str.split(",")
    codes = list(set(codes.explode("Codes")))

    return codes

def rank_by_similarity(code: str, code_list: list):
    code_dict = {}

    for c in code_list:
        try:
            score = w2v.similarity(code, c)
        except KeyError:
            score = 0

        code_dict[c] = score

    code_ranked = pd.DataFrame(code_dict.items(), columns=["Code", "Similarity Score"])
    code_ranked.sort_values("Similarity Score", ascending=False, inplace=True)

    return code_ranked

In [19]:
spouse_codes = filter_codes("spouse")
spouse_ranked = rank_by_similarity("spouse", spouse_codes)
spouse_ranked[:10]

           Code  Similarity Score
14       spouse          1.000000
19     marriage          0.449706
8      children          0.342192
22    parenting          0.340154
10    happiness          0.278704
28         home          0.245488
4   contentment          0.238908
26      college          0.208411
18     religion          0.199689
3     childhood          0.182481

In [20]:
food_codes = filter_codes("food")
food_ranked = rank_by_similarity("food", food_codes)
food_ranked[:10]

                     Code  Similarity Score
6                    food          1.000000
3               gardening          0.273421
2                outdoors          0.217245
7                  travel          0.182939
8                   worry          0.160577
10                  aging          0.072066
4                     ww2          0.062056
11                 spouse          0.035875
0       positive thinking          0.000000
13  cultural appreciation          0.000000

In [21]:
social_programs_codes = filter_codes("social programs")
social_programs_ranked = rank_by_similarity("social programs", social_programs_codes)
social_programs_ranked[:10]

               Code  Similarity Score
0         parenting                 0
1          marriage                 0
2          teaching                 0
3              food                 0
4         intuition                 0
5          politics                 0
6  post-war america                 0
7          workjobs                 0
8            spouse                 0
9           college                 0

In [23]:
travel_codes = filter_codes("travel")
travel_ranked = rank_by_similarity("travel", travel_codes)
travel_ranked[:10]

           Code  Similarity Score
6        travel          1.000000
12         food          0.182939
7       freedom          0.158407
16     religion          0.108290
3      teaching          0.105806
11    happiness          0.103377
15  aspirations          0.098571
8      children          0.091953
19    parenting          0.091603
2     childhood          0.089115

In [24]:
social_connections_codes = filter_codes("social conenctions")
social_connections_ranked = rank_by_similarity("social connections", social_connections_codes)
social_programs_ranked[:10]

               Code  Similarity Score
0         parenting                 0
1          marriage                 0
2          teaching                 0
3              food                 0
4         intuition                 0
5          politics                 0
6  post-war america                 0
7          workjobs                 0
8            spouse                 0
9           college                 0