In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_csv("../transcripts/mrs-r-codes.csv")

df["Codes"] = df["Codes"].str.lower()
df["Codes"] = df["Codes"].str.replace(r",\s+", ",", regex=True)
df["Codes"] = df["Codes"].str.rstrip(",")

data = df["Codes"].to_list()

weights = [1/len(x.split(",")) for x in data]
df["Weights"] = weights

In [7]:
def filter_codes(code: str):
    code_df = df[df["Codes"].str.contains(code)]
    codes = code_df["Codes"].str.split(",")
    codes = list(set(codes.explode("Codes")))

    return codes

# TODO separate filter_codes logic
def rank_codes(code: str):
    code_df = df[df["Codes"].str.contains(code)]
    codes = code_df["Codes"].str.split(",")
    codes = list(set(codes.explode("Codes")))

    code_dict = {}
    
    for c in codes:
        code_weight = code_df[code_df["Codes"].str.contains(c)]["Weights"].sum()
        code_dict[c] = code_weight
    
    code_ranked = pd.DataFrame(code_dict.items(), columns=["Code", "Weights Sum"])
    code_ranked.sort_values(by="Weights Sum", ascending=False, inplace=True)
    
    return code_ranked

In [8]:
spouse_codes = filter_codes("code 15: spouse")
spouse_ranked = rank_codes("code 15: spouse")
spouse_ranked[:10]

                                     Code  Weights Sum
9                         code 15: spouse     2.966667
4                       code 18: marriage     0.700000
15  code 6: positive family relationships     0.700000
14                      code 57: religion     0.500000
25                   code 25: aspirations     0.500000
5                           code 41: food     0.500000
21                        code 26: travel     0.500000
13               code 17: social programs     0.450000
3                   code 13: gender roles     0.450000
6               code 14: post-war america     0.450000

In [17]:
food_ranked = rank_codes("code 41: food")
food_ranked[:10]

                              Code  Weights Sum
17                   code 41: food     7.416667
2                     code 46: ww2     1.250000
10     code 32: social connections     0.666667
5                  code 15: spouse     0.500000
9   code 49: cultural appreciation     0.500000
3                   code 59: aging     0.500000
7               code 52: gardening     0.333333
12                 code 26: travel     0.333333
13     code 27: adventurous spirit     0.333333
15               code 30: outdoors     0.333333

In [8]:
social_programs_ranked = rank_codes("code 17: social programs")
social_programs_ranked[:10]

                         Code  Weights Sum
14   code 17: social programs     4.116667
1     code 54: the depression     1.166667
7           code 43: politics     0.583333
2             code 15: spouse     0.450000
5           code 37: workjobs     0.333333
8         code 55: hard times     0.333333
15              code 41: food     0.333333
0   code 14: post-war america     0.250000
9          code 19: gratitude     0.200000
10          code 18: marriage     0.200000

In [9]:
# coding error code 3
travel_ranked = rank_codes("code 26: travel")
travel_ranked[:10]

                           Code  Weights Sum
9               code 26: travel     2.144444
11                       code 3     0.894444
16  code 27: adventurous spirit     0.644444
4             code 2: childhood     0.500000
7                  code 46: ww2     0.500000
1               code 15: spouse     0.500000
21  code 32: social connections     0.333333
5                 code 41: food     0.333333
6    code 40: positive thinking     0.333333
12             code 7: children     0.277778

In [10]:
social_connections_ranked = rank_codes("code 32: social connections")
social_connections_ranked[:10]

                           Code  Weights Sum
25  code 32: social connections     2.128571
8    code 40: positive thinking     0.700000
7                 code 41: food     0.666667
19                code 58: home     0.366667
1               code 15: spouse     0.366667
2             code 50: knitting     0.333333
11              code 26: travel     0.333333
18            code 8: happiness     0.333333
5             code 30: outdoors     0.309524
6             code 2: childhood     0.309524